.header {
  display: flex;
  background-color: rgba(32, 25, 17, 0.3);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.display-flex-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: none;
}

/* Mobile navigation */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  color: #DBAC74;
}
