#portfolio {
  background-color: white;
  width: 100vw;
}

#portfolio > h2 {
  text-align: center;
  padding: 1rem;
}

.card-projet {
  margin-top: 2rem;
  height: 400px;
  display: flex;
  padding-bottom: 3rem;
  border-radius: 32px;
  border-bottom: 2px solid rgba(50, 50, 50, 0.1);
  align-items: center;
  width: 90vw;
}

.image-projet {
  margin: 0 auto;
  height: 350px;
  width: 580px;
  border-radius: 32px;
}

.text-projet {
  padding-top: 2rem;
  margin: 10px auto;
  height: inherit;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  color: white;
}

.background-li {
  background-color: #DBAC74;
  border-radius: 32px;
  padding: 0.2rem 0.4rem;
}

.puce {
  list-style-type: square;
  margin-left: 2rem;
  padding-left: 1rem;
}
